.App {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #0d315a no-repeat center top;
}

.MoviesBySearch {
  height: 100%;
}

body {
  min-height: 100vh;
  position: absolute;
  width: 100%;
}

#root {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 20px auto !important;
  color: white !important;
}
